/.vscode/
/.phpdoc/
/build/
/etc/local/
/log/
/nbproject/
/var/
/vendor/
/config.php
/debug.php
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

